# importing

In [1]:
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import datetime

In [2]:
global_temp_df = pd.read_csv('data/GlobalTemperatures.csv')

# exploring global temp

In [3]:
global_temp_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
global_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [5]:
global_temp_df.describe()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
25%,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
75%,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

In [6]:
global_temp_df.isnull().any()

dt                                           False
LandAverageTemperature                        True
LandAverageTemperatureUncertainty             True
LandMaxTemperature                            True
LandMaxTemperatureUncertainty                 True
LandMinTemperature                            True
LandMinTemperatureUncertainty                 True
LandAndOceanAverageTemperature                True
LandAndOceanAverageTemperatureUncertainty     True
dtype: bool

In [7]:
global_temp_df.isnull().mean()

dt                                           0.000000
LandAverageTemperature                       0.003759
LandAverageTemperatureUncertainty            0.003759
LandMaxTemperature                           0.375940
LandMaxTemperatureUncertainty                0.375940
LandMinTemperature                           0.375940
LandMinTemperatureUncertainty                0.375940
LandAndOceanAverageTemperature               0.375940
LandAndOceanAverageTemperatureUncertainty    0.375940
dtype: float64

In [8]:
years = np.unique(global_temp_df.dt.apply(lambda x: x[:4]))

In [9]:
global_temp_df['dt'] = global_temp_df['dt'].apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))

In [10]:
global_temp_df['year'] = global_temp_df['dt'].apply(lambda x: x.year)

In [11]:
global_temp_df.isnull().mean()

dt                                           0.000000
LandAverageTemperature                       0.003759
LandAverageTemperatureUncertainty            0.003759
LandMaxTemperature                           0.375940
LandMaxTemperatureUncertainty                0.375940
LandMinTemperature                           0.375940
LandMinTemperatureUncertainty                0.375940
LandAndOceanAverageTemperature               0.375940
LandAndOceanAverageTemperatureUncertainty    0.375940
year                                         0.000000
dtype: float64

In [12]:
global_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   datetime64[ns]
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
 9   year                                       3192 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 249.5 KB

In [13]:
global_temp_df.describe()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,year
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,3192.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532,1882.500000
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587,76.799074
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000,1750.000000
25%,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000,1816.000000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000,1882.500000
75%,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000,1949.000000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000,2015.000000

### missing data

In [14]:
missing_value_cols = [x for x in global_temp_df.columns if global_temp_df[x].isnull().any()]

In [15]:
missing_value_cols

['LandAverageTemperature',
 'LandAverageTemperatureUncertainty',
 'LandMaxTemperature',
 'LandMaxTemperatureUncertainty',
 'LandMinTemperature',
 'LandMinTemperatureUncertainty',
 'LandAndOceanAverageTemperature',
 'LandAndOceanAverageTemperatureUncertainty']

In [16]:
for i in range(0, len(missing_value_cols)):
    col = missing_value_cols[i]
    print('' + str(col))
    global_temp_df[col] = global_temp_df[col].fillna(global_temp_df.groupby('year')[col].transform('mean'))

LandAverageTemperature
LandAverageTemperatureUncertainty
LandMaxTemperature
LandMaxTemperatureUncertainty
LandMinTemperature
LandMinTemperatureUncertainty
LandAndOceanAverageTemperature
LandAndOceanAverageTemperatureUncertainty

In [17]:
global_temp_df.isnull().mean()

dt                                           0.00000
LandAverageTemperature                       0.00000
LandAverageTemperatureUncertainty            0.00000
LandMaxTemperature                           0.37594
LandMaxTemperatureUncertainty                0.37594
LandMinTemperature                           0.37594
LandMinTemperatureUncertainty                0.37594
LandAndOceanAverageTemperature               0.37594
LandAndOceanAverageTemperatureUncertainty    0.37594
year                                         0.00000
dtype: float64

In [18]:
global_temp_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,year
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN,1750
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN,1750
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN,1750
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN,1750
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN,1750

In [20]:
global_temp_df = global_temp_df.iloc[:, [0,1,2,-1]]

In [21]:
global_temp_df.set_index('year', inplace=True)

### visualizing data

In [22]:
sns.set(style="darkgrid")

In [23]:
global_temp_df.describe()

       LandAverageTemperature  LandAverageTemperatureUncertainty
count             3192.000000                        3192.000000
mean                 8.369337                           0.945719
std                  4.374541                           1.100748
min                 -2.080000                           0.034000
25%                  4.327750                           0.187000
50%                  8.587000                           0.394500
75%                 12.538750                           1.437250
max                 19.021000                           7.880000

In [24]:
global_temp_df['LandAverageTemperaturePlusUncertainty'] = global_temp_df['LandAverageTemperature'] + global_temp_df['LandAverageTemperatureUncertainty']

In [25]:
global_temp_df['LandAverageTemperatureMinusUncertainty'] = global_temp_df['LandAverageTemperature'] - global_temp_df['LandAverageTemperatureUncertainty']

In [26]:
data = global_temp_df.drop(['LandAverageTemperatureUncertainty', 'dt'], axis=1)

In [27]:
data.set_index('year')

KeyError: "None of ['year'] are in the columns"

In [ ]:
plt.subplots(figsize=(20,10))

plt.title('Historical Global Temperature')

ax = sns.lineplot(data=data,ci=40, lw=3)

ax.set(xlabel='Year', ylabel='Land Average Temperature (ÂºC)')

plt.savefig('global_temp.pdf')

plt.show()