# importing

In [1]:
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [2]:
global_temp_df = pd.read_csv('data/global_temp_train.csv')

In [3]:
co2_concentration_df = pd.read_csv('data/co2_concentration_train.csv')

# exploring global temp

In [7]:
global_temp_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
global_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2394 entries, 0 to 2393
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         2394 non-null   object
 1   LandAverageTemperature                     2382 non-null   float64
 2   LandAverageTemperatureUncertainty          2382 non-null   float64
 3   LandMaxTemperature                         1194 non-null   float64
 4   LandMaxTemperatureUncertainty              1194 non-null   float64
 5   LandMinTemperature                         1194 non-null   float64
 6   LandMinTemperatureUncertainty              1194 non-null   float64
 7   LandAndOceanAverageTemperature             1194 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1194 non-null   float64
dtypes: float64(8), object(1)
memory usage: 187.0+ KB

In [9]:
global_temp_df.describe()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,2382.000000,2382.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,8.170852,1.218999,14.123902,0.709533,2.343603,0.621685,15.028077,0.171550
std,4.434369,1.136068,4.327334,0.658636,4.171006,0.489054,1.262979,0.065399
min,-2.080000,0.161000,5.900000,0.147000,-5.407000,0.193000,12.475000,0.101000
25%,4.048500,0.314250,9.809500,0.275250,-1.806500,0.298000,13.834500,0.127000
50%,8.326000,0.798000,14.484000,0.430000,2.563500,0.388000,15.064000,0.143000
75%,12.322750,1.795250,18.090750,0.875750,6.417750,0.840750,16.242000,0.200750
max,19.021000,7.880000,20.733000,4.373000,9.210000,3.498000,17.131000,0.457000

In [10]:
global_temp_df.isnull().any()

dt                                           False
LandAverageTemperature                        True
LandAverageTemperatureUncertainty             True
LandMaxTemperature                            True
LandMaxTemperatureUncertainty                 True
LandMinTemperature                            True
LandMinTemperatureUncertainty                 True
LandAndOceanAverageTemperature                True
LandAndOceanAverageTemperatureUncertainty     True
dtype: bool

In [11]:
global_temp_df.isnull().mean()

dt                                           0.000000
LandAverageTemperature                       0.005013
LandAverageTemperatureUncertainty            0.005013
LandMaxTemperature                           0.501253
LandMaxTemperatureUncertainty                0.501253
LandMinTemperature                           0.501253
LandMinTemperatureUncertainty                0.501253
LandAndOceanAverageTemperature               0.501253
LandAndOceanAverageTemperatureUncertainty    0.501253
dtype: float64

In [12]:
years = np.unique(global_temp_df.dt.apply(lambda x: x[:4]))

In [13]:
global_temp_df['year'] = pd.to_datetime(global_temp_df.loc[:, 'dt'], format='%Y-%m-%d').apply(lambda x : x.year)

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [14]:
global_temp_df['year']

0       1750
1       1750
2       1750
3       1750
4       1750
        ...
2389    1949
2390    1949
2391    1949
2392    1949
2393    1949
Name: year, Length: 2394, dtype: int64

In [15]:
global_temp_df.isnull().mean()

dt                                           0.000000
LandAverageTemperature                       0.005013
LandAverageTemperatureUncertainty            0.005013
LandMaxTemperature                           0.501253
LandMaxTemperatureUncertainty                0.501253
LandMinTemperature                           0.501253
LandMinTemperatureUncertainty                0.501253
LandAndOceanAverageTemperature               0.501253
LandAndOceanAverageTemperatureUncertainty    0.501253
year                                         0.000000
dtype: float64